body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width:1200px;
    width: 100%;
    min-height: 100px;
    background-color: white;
    margin: 0 auto;
}
.headerwrap{
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: safe center;
}
.logo{
    cursor: pointer;
}
.logo img{
    width: 100px;
    height:100px;
}
.navbar{
    width: 100%;
    padding: 1rem;
}
.navbar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: end;
}
.navbar ul li{
    width: auto;
    display: inline-block;
    margin: 0 15px;
}
.navbar ul li a{
    color: black;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: red;
}
.content{
    max-width: 1200px;
    align-items: center;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.content .textbox{
    position: white  relative;
    justify-content: center;
    width: 50%;
}
.content .textbox h1{
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.content .textbox h1 span{
    color: rgb(10, 9, 9);
    font-size: 40px;
    font-weight: 300;
}
.content .textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #010f1d;
    text-decoration: none;
  
}
.content .textbox a:hover{
    color: red;
    border-radius: 40px;
}
.content .imgbox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
     width: 50%;
}
.content .imgbox img{
    width: 600px;
    height: 500px;
}



img{
    max-width: 100%;
}
.container1{
    padding: 40px 0;
}
figure{
    max-width: 800px;
    margin: 0 auto 40px;
    border:2px solid #fff;
}
figure img{
    max-width: 100%;
    min-width: 100%;
    display: block;
}
ul{
    list-style: none;
    margin: 0;
    text-align: center;
}
ul li{
    margin: 0 5px;
    display: inline-block;
    width: 100px;
    border:1px solid #fff;
    cursor: pointer;
}
ul li img{
    display: block;
    
}



